
[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}


.botexte{
    color: #244b20;
}

.bo{
    color: black;
    font-family: 'Optima';
}

.bolien{
    color: rgb(48, 8, 112);
}

.jumbotron{
    background-color: #faf3f2;
}


main {
    font-family: 'Optima';
    margin : auto;
    height: auto;
    border-radius: 5px;
    max-width: 80%;
}
