@import url(http://fonts.googleapis.com/css?family=Nerko+One);

@font-face {
  font-family: myFont;
  src: url();
}

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tem {
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

.categorie {
    padding-right: 15px; 
    padding-left: 15px
}

.citation{
    border-left: 2px lightcoral solid; 
    padding-left: 12px
}

.temoignage {
    font-family: 'Nerko One', cursive;
    font-size: x-large;
}

.essai {
   color:#ECB94B;
   background-color:#CDE2F8;
   font-family: 'monospace';
   font-size:large;
   font-weight:bold;
   font-variant:small-caps
}

.lignegauche {
    border-left: 2px solid lightcoral;
    padding-left: 12px;
}


.botexte{
    background-color: #faf3f2;
    border-color: #9c5b4f;
    border-width: 4px;
    border-style:dotted;
}

.jumbotron{
    background-color: #faf3f2;
    border-color: #9c5b4f;
    border-width: 4px;
    border-style: groove;
    border-radius: 10px;
}


main {
    font-family:'Optima';
    background-color: #fcedeb;
    border-color : #EC9785;
    margin : auto;
    height: auto;
    border-radius: 5px;
    max-width: 80%;
}
